# Database Configuration
DB_USER=gigworker
DB_PASSWORD=gigworkerpass
DB_NAME=gig_workers_db
DB_PORT=5432
DB_HOST=localhost

# Prisma
DATABASE_URL=postgresql://gigworker:gigworkerpass@localhost:5432/gig_workers_db?schema=public

# Environment
NODE_ENV=development
